body {
    background-color:aquamarine;
    text-align:center;
}
*{
    margin:0;
    padding:0;
    border:0;
    font-size:inherit;
    font-weight:inherit;
    font-family:inherit;
    text-decoration:inherit;
    line-height:inherit;
    color:inherit;
}
html, body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height:30px;
    text-shadow:1px 1px 0px #ffffff;
}
h1{
    font-size:38px;
    line-height:50px;
    font-weight:bold;
}
img{
    resize:both;
    border-radius: 50%;
}